@charset "ISO-8859-1";
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif
}

header{
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height: 70px;
  opacity:1;
  z-index:100;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-top:-13px;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar {
  background: gray;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -190px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

.content{
  margin-left: 280px;
  background: url(background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 80px;
}

#check{
  display: none;
}
.ulavar-container:after,.ulavar-container:before,.ulavar-row-padding:after,.ulavar-row-padding:before
{
  content:"";
  display:table;
  clear:both;
}
.ulavar-section,.ulavar-code{margin-top:16px!important;margin-bottom:16px!important}
.ulavar-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:70%}
.ulavar-border{border:1px solid #ccc!important}
.ulavar-button:hover{color:#000!important;background-color:#ccc!important}
.ulavar-block{display:block;width:73%}
.ulavar-padding-large{padding:12px 24px!important}
.ulavar-red,.ulavar-hover-red:hover{color:#fff!important;background-color:green!important}
.ulavar-margin-bottom{margin-bottom:16px!important}
/*.ulavar-round-small{border-radius:2px}.ulavar-round,.ulavar-round-medium{border-radius:4px}.ulavar-round-large{border-radius:8px}.ulavar-round-xlarge{border-radius:16px}.ulavar-round-xxlarge{border-radius:32px}
*/

      